# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/

# Unit test / coverage reports
htmlcov/
.coverage
coverage.lcov
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Pycharm
.idea/
.idea_modules/

# Vscode
.vscode

# Environment
.envs/production

# Frontend stuff
node_modules/
